{% extends "security/_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="Absolute-Center Login-Form">
    <div id="logo-container"></div>
      <div class="col-sm-12">
        <form action="{{ form_action }}" id="loginForm" method="POST">
          {{ form.hidden_tag() }}

          {% include "common/_messages.html" %}
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{ form.email(placeholder='Email', class='form-control', type='text') }}
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{ form.password(placeholder='Senha', class='form-control', type='password') }}
          </div>

          <div class="col-sm-10 col-sm-offset-1">
            <div class="form-group">
              <input type="submit" class="btn btn-success btn-block" value="Entrar" />
            </div>
          </div>

          <div class="form-group text-center">
            <a href="#">Esqueci minha senha</a>
          </div>

        </form>
      </div>
    </div>
</div>
{% endblock %}