postgres:
  image: postgres:9.5
  ports:
    - "5432:5432"
  volumes:
    - "postgres_data:/var/lib/postgresql"
  environment:
    - POSTGRES_USER=root
    - POSTGRES_PASSWORD=auth
    - POSTGRES_DB=flapy_auth