{% extends "common/_layout-info.html" %}

{% block title %}Lista de usuários{% endblock %}

{% block info %}
    <h3 class="text-center">Informações</h3>
    <hr>
    <ul>
        <li>Todos os campos são obrigatórios</li>
        <li>O usuário já é cadastrado ativado</li>
        <li>É necessária a troca de senha no primeiro login</li>
    </ul>
{% endblock %}


{% block content %}

<h2 class="text-center">Adicionar um novo usuário</h2>

<hr>

<form action="" id="userForm" method="POST">
  {{ form.hidden_tag() }}

  {% include "common/_messages.html" %}
  <div class="form-group input-group col-md-12">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    {{ form.username(placeholder=form.username.description, class='form-control', type='text', size='20') }}
  </div>

  <div class="form-group input-group col-md-12">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    {{ form.username(placeholder=form.email.description, class='form-control', type='text') }}
  </div>

  <div class="form-group input-group col-md-8">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    {{ form.password(placeholder=form.password.description, class='form-control', type='password') }}
  </div>

  <div class="form-group input-group col-md-8">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    {{ form.confirm_password(placeholder=form.confirm_password.description, class='form-control', type='password') }}
  </div>

  <hr>

  <div class="col-md-12 text-center">
      <a href="{{ url_for('users.list_users') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-floppy-disk"></i> Voltar
      </a>

      <button type="submit" class="btn btn-success">
        <i class="glyphicon glyphicon-floppy-disk"></i> Salvar
      </button>
  </div>
</form>

{% endblock %}