{% extends "common/_layout-full.html" %}

{% block title %}Detalhes do usuário{% endblock %}

{% block content %}

<h2 class="text-center">Detalhes do usuário</h2>

<hr>

<div class="col-md-5 col-md-offset-1">

        <div class="form-group input-group col-md-12">
            <div class="col-md-4"><i class="glyphicon glyphicon-user"></i> Username:</div>
            <div class="col-md-8">
                {{ user.username }}
            </div>
        </div>

        <div class="form-group input-group col-md-12">
            <div class="col-md-4"><i class="glyphicon glyphicon-envelope"></i> Email:</div>
            <div class="col-md-8">
                {{ user.email }}
            </div>
        </div>

        <div class="form-group input-group col-md-12">
            <div class="col-md-4"><i class="glyphicon glyphicon-lock"></i> Password:</div>
            <div class="col-md-8">
                {% if user.password %}
                    <span class="glyphicon glyphicon-ok-sign" style="color: #092"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove-sign" style="color: #920"></span>
                {% endif %}
            </div>
        </div>
    <hr>
        <div class="form-group input-group col-md-12">
            <div class="col-md-4"><i class="glyphicon glyphicon-asterisk"></i> Criado em:</div>
            <div class="col-md-8">
                {{ user.created_at | strftime }}
            </div>
        </div>
        <div class="form-group input-group col-md-12">
            <div class="col-md-4"><i class="glyphicon glyphicon-record"></i> Último Login:</div>
            <div class="col-md-8">
                {{ user.current_login_at | strftime }}
            </div>
        </div>
        <div class="form-group input-group col-md-12">
            <div class="col-md-4"><i class="glyphicon glyphicon-repeat"></i> Quantidade:</div>
            <div class="col-md-8">
                {{ user.login_count }}
            </div>
        </div>

    <hr>
        <div class="form-group input-group col-md-12">
            <div class="col-md-4"><i class="glyphicon glyphicon-thumbs-up"></i> Ativo:</div>
            <div class="col-md-2">
                {% if user.active %}
                    <span class="glyphicon glyphicon-ok-sign" style="color: #092"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove-sign" style="color: #920"></span>
                {% endif %}
            </div>
            <div class="col-md-4"><i class="glyphicon glyphicon-star"></i> Superuser:</div>
            <div class="col-md-2">
                {% if user.superuser %}
                    <span class="glyphicon glyphicon-ok-sign" style="color: #092"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove-sign" style="color: #920"></span>
                {% endif %}
            </div>
        </div>
</div>

<div class="col-md-5">

    <h4 class="text-center">Grupos do Usuário</h4>
        {% for role in user.roles %}
            {{ role.name }}
        {% endfor %}
    <hr>
    <h4 class="text-center">Grupos Disponíveis</h4>
        {% for role in user.roles %}
            {{ role.name }}
        {% endfor %}
</div>

{% endblock %}